[core]
    excludesfile = ~/.gitignore
    editor = vim
[user]
    email = me@alpico.la
    name = alpicola
[pull]
    rebase = preserve
    ff = only
[merge]
    ff = false
[include]
    path = ~/.gitconfig.local
